body{
    background-color: white;
}
#pieces{
    width: 402px;
    height: 402px;
    border: 5px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px white;
}
#shuff{
    width: 170px;
    margin: auto;
    margin-top: 20px;
    border: 5px solid black;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 10px yellow;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;
    font-family: 'serif';
    font-size: 25px;
}
#shuff:hover {
    color: red;
    text-shadow: 0px 0px 10px red;
}
.switch {
    height: 133px;
    width: 133px;
    font-size: 0.1px;
}
#p11{
    background: url('11.png');

}
#p12{
    background: url('12.png');

}
#p13{
    background: url('13.png');

}
#p21{
    background: url('21.png');

}
#p22{
    background: url('22.png');

}
#p23{
    background: url('23.png');

}
#p31{
    background: url('31.png');

}
#p32{
    background: url('32.png');

}
#p33{
    background: url('33.png');

}